<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>TODO CryptoApp</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="assets/styles.css"/>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.12"></script>
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div class="nav-bar"><h3>TODO CryptoApp</h3></div>
    <app-display :purchases="purchases" :prices="prices" :wallets="wallets" :aktuelleprices="aktuelleprices" @gagga="addPurchase"></app-display>
    <div>
       <!-- <div>
            <select>
                <option v-for="price in prices">{{price.currencies}}  {{ price.values}}€</option>
            </select>
        </div>-->
        <!--<ul v-for="purchase in wallets">
            <li>{{purchase}}</li>
        </ul>-->
    </div>
</div>

<!-- Import App -->
<script src="main.js"></script>


<!-- Import Components -->
<script src="components/AppDisplay.js"></script>
<script src="components/PurchaseForm.js"></script>
<script src="components/WalletList.js"></script>
<!-- Mount App -->

<script>
    const a = app.mount('#app')
</script>
</body>
</html>
